<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Présences</title>
	<meta name="description" content="">
	<meta name="author" content="øvnislash">

	<!-- libs -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/chosen_v1.4.1/chosen.min.css') }}" media="screen">
	<script src="{{ url_for('static', filename='lib/chosen_v1.4.1/chosen.jquery.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/datetimepicker-master/jquery.datetimepicker.css') }}"/>
	<script src="{{ url_for('static', filename='lib/datetimepicker-master/jquery.datetimepicker.js') }}"></script>
	
	<!-- mes scripts -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen">
</head>
<body>
<header class="bloc bloc--header">
	<img src="{{ url_for('static', filename='img/logo-cesialternance.png') }}" width="250" height="85">
	<nav>
		<ul class="menu">
			<li class="menu__element">
				<a class="menu__element__link menu__element__link--active" href="{{ url_for('presences') }}">Presences</a>
			</li>
			<li class="menu__element">
				<a class="menu__element__link" href="{{ url_for('users') }}">Participants</a>
			</li>
            <li class="menu__element">
				<a class="menu__element__link" href="{{ url_for('promotions') }}">Promotions</a>
			</li>
			<li class="menu__element">
				<a class="menu__element__link" href="{{ url_for('schedulings') }}">Plannings</a>
			</li>
			<li class="menu__element">
				<a class="menu__element__link" href="{{ url_for('rooms') }}">Rooms</a>
			</li>
			<li class="menu__element">
				<a class="menu__element__link" href="{{ url_for('users') }}">Utilisateurs</a>
			</li>
		</ul>
	</nav>
</header>
<div class="bloc bloc--content bloc--content--presences">
	<form class="form form--filter" action="{{ url_for('presences') }}"  method="GET">
		<h2 class="form__title">Filtres</h2>
		<input class="form__element form__element--name" type="text" placeholder="Nom" name="fullname" value="{{ request.args['fullname']}}">
		<select class="form__element form__element--promotions" multiple data-placeholder="Choisissez une promotion..." name="promotion_id">
            {% for promotion in promotions %}
                <option value="{{ promotion.id }}" {{'%s' % 'selected=true' if promotion.id in request.args.getlist('promotion_id')}}>{{ promotion.name }}</option>
            {% endfor %}
		</select>
		<label><input type="checkbox" class="form__element--date" name="checkbox" value="date" {{'%s' % 'checked=true' if request.args['checkbox'] == 'date'}}>Date</label>
		<label><input type="checkbox" class="form__element--periode" name="checkbox" value="periode" {{'%s' % 'checked=true' if request.args['checkbox'] == 'periode'}}>Période</label>
		<br>
		<input type="hidden" name="date" value="{{ request.args['date']}}">
		<input class="form__element form__element--date--precise" type="text" placeholder="Date" name="date_precise" value="{{ request.args['date_precise']}}"
                style="{{'%s' % 'display: inline-block;' if request.args['checkbox'] == 'date'}}">
		<input type="hidden" name="date_begin" value="{{ request.args['date_begin']}}">
		<input class="form__element form__element--date--debut" type="text" placeholder="Période début..." name="date_debut" value="{{ request.args['date_debut']}}"
                style="{{'%s' % 'display: inline-block;' if request.args['checkbox'] == 'periode'}}">
		<input type="hidden" name="date_ending" value="{{ request.args['date_ending']}}">
		<input class="form__element form__element--date--fin" type="text" placeholder="Période fin" name="date_fin" value="{{ request.args['date_fin']}}"
                style="{{'%s' % 'display: inline-block;' if request.args['checkbox'] == 'periode'}}">
		<button class="form__element form__element--submit" type="submit">Filtrer</button>
	</form>
    <table class="list list--presences" width="100%">
        <tr>
            <th>Date</th>
            <th>Promotion</th>
            <th>Nom</th>
            <th>Heure d'arrivée</th>
        </tr>
        {% if presences %}
            {% for presence in presences %}
                <tr>
                    <td>{{ presence.date.strftime('%d/%m/%Y') }}</td>
                    <td><a href="{{ url_for('promotions', id=presence.getEntity('user').getPromotion().id,)}}">{{ presence.getEntity('user').getPromotion().name }}</a></td>
                    <td><a href="{{ url_for('users', id=presence.getEntity('user').id,)}}">{{ presence.getEntity('user').fullname }}</a></td>
                    <td>{{ presence.date.strftime('%H:%M') }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">Aucun utilisateur trouver</td>
            </tr>
        {% endif %}
    </table>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>